.footer {
  background: var(--footercolor);
  height: 600px;
  @include tablet {
    height: 463px;
    max-width: 100%;
    display: flex;
  }
  @include desktop {
    display: flex;
    height: 252px;
  }

  &__name {
    margin-bottom: 9px;
    padding-top: 60px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    @include tablet {
      position: absolute;
      min-width: 250px;
    }
    @include desktop {
      text-align: left;
    }
  }

  &__name-blue {
    color: var(--blue-color);
  }
  &__name-white {
    color: var(--whitestudio-color);
  }
}

.size {
  font-size: 14px;
}
.address__space {
  margin-top: 20px;
  color: #ffffff;
}
.address__mail {
  margin-top: 9px;
  color: var(--grey-color);
  text-decoration: none;

  &:hover {
    color: var(--blue-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address__tel {
  margin-top: 9px;
  color: var(--grey-color);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--red-color);
  }
}

.social {
  text-align: center;
  padding-left: 10px;
  @include tablet {
    position: relative;
    padding-left: 500px;
    padding-top: 10px;
  }
  @include desktop {
    padding-left: 0px;
    transform: translateX(-13%);
  }
  &__name {
    color: var(--white-color);
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  &__icon {
    min-width: 206px;

    .linkedin {
      --color3: var(--white-color);
      --color2: var(--color-foticon);
      &:hover {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .facebook {
      --color3: var(--white-color);
      --color2: var(--color-foticon);
      &:hover {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .twitter {
      --color3: var(--white-color);
      --color2: var(--color-foticon);
      &:hover {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .instagram {
      --color3: var(--white-color);
      --color2: var(--color-foticon);

      &:hover {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
.form {
  color: var(--color-footer-email-input);
  @include tablet {
    position: relative;
    padding-top: 80px;
  }
  @include desktop {
    width: 570px;
    padding-top: 0px;
    position: absolute;
    margin-left: 500px;
    transform: translateY(-100%);
  }

  &__footer {
    margin-top: 30px;

    font-size: 14px;
    font-weight: 700;
  }
  &__title {
    margin-top: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.input {
  margin-top: 20px;
  display: grid;
  grid-template-columns:
    'email'
    'but';
  @include desktop {
    display: flex;
  }

  &__email {
    width: 300px;
    height: 50px;
    background-color: var(--color-input-footer);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    grid-area: email;
    &__email:active {
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    @include tablet {
      margin-left: 20px;
      width: 450px;
      display: grid;
      grid-template-columns:
        'email'
        'but';
    }
    @include desktop {
      width: 338px;
      margin-left: 120px;
    }
  }
  &__button {
    text-align: center;
    color: var(--color-footer-email-input);
    background-color: var(--color-bottom-footer);
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 60px;
    grid-area: but;
    position: absolute;
    margin-left: 50px;
    @include tablet {
      margin-left: 270px;
    }
    @include desktop {
      margin-left: 475px;
      margin-top: 0px;
    }
  }
  &__span {
    margin-left: -45px;
  }
  &__send {
    position: absolute;
    margin-left: 24px;
    transform: translateY(-10%);
  }
}
