.footer {
  background: var(--footercolor);
  height: auto;
  margin-top: 12px;
  @include tablet {
  }
  @include desktop {
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__name {
    margin-bottom: 9px;
    font-size: 26px;
    margin-top: 12px;

    font-weight: 700;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    @include tablet {
      max-width: 250px;
    }
    @include desktop {
      text-align: left;
    }
  }

  &__name-blue {
    color: var(--blue-color);
  }
  &__name-white {
    color: var(--whitestudio-color);
  }
}

.size {
  font-size: 14px;
}
.address__space {
  margin-top: 20px;
  color: #ffffff;
}
.address__mail {
  margin-top: 9px;
  color: var(--grey-color);
  text-decoration: none;

  &:hover {
    color: var(--blue-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address__tel {
  margin-top: 9px;
  color: var(--grey-color);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--red-color);
  }
}

.social {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;

  @include tablet {
    max-width: 206px;
  }
  @include desktop {
  }
  &__name {
    color: var(--white-color);
    font-size: 16px;

    &:hover {
      color: var(--blue-color);
    }
    @include desktop {
      text-align: left;
    }
  }
  &__icon {
    min-width: 206px;
    gap: 10px;
    margin-top: 12px;

    .linkedin {
      --color3: var(--white-color);
      --color2: var(--color-foticon);
      &:is(:hover, :focus) {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .facebook {
      --color3: var(--white-color);
      --color2: var(--color-foticon);
      &:is(:hover, :focus) {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .twitter {
      --color3: var(--white-color);
      --color2: var(--color-foticon);
      &:is(:hover, :focus) {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .instagram {
      --color3: var(--white-color);
      --color2: var(--color-foticon);

      &:is(:hover, :focus) {
        --color3: var(--white-color);
        --color2: var(--blue-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
.form {
  color: var(--color-footer-email-input);
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  margin-top: 12px;

  @include tablet {
    max-width: 450px;
  }
  @include desktop {
    width: 570px;
  }

  &__footer {
    font-size: 14px;
    font-weight: 700;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

    color: #ffffff;
    @include desktop {
      text-align: left;
    }
  }
}

.input {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 12px;

  @include tablet {
  }
  @include desktop {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__email {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;

    width: 300px;
    height: 50px;
    background-color: var(--color-input-footer);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    &__email:active {
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    @include tablet {
      width: 450px;
    }
    @include desktop {
      width: 338px;
    }
  }
  &__button {
    text-align: center;
    color: var(--color-footer-email-input);
    background-color: var(--color-bottom-footer);
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 12px;

    margin-left: auto;
    margin-right: auto;
    @include tablet {
    }
    @include desktop {
    }
  }
  &__span {
    margin-left: -45px;
  }
  &__send {
    position: absolute;
    margin-left: 24px;
    transform: translateY(-10%);
  }
}
