footer {
  background: var(--footercolor);
  height: 600px;
}
.footercentr {
  max-width: 480px;
  text-align: center;
}
.footer__name {
  margin-bottom: 9px;
  padding-top: 60px;
  font-size: 26px;
  font-weight: 700;
}

.footer__name-blue {
  color: var(--blue-color);
}
.footer__name-white {
  color: var(--whitestudio-color);
}

.size {
  font-size: 14px;
}
.address__space {
  margin-top: 9px;
  color: var(--grey-color);
}
.address__mail {
  margin-top: 9px;
  color: var(--grey-color);

  &:hover {
    color: var(--blue-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address__tel {
  margin-top: 9px;
  color: var(--grey-color);

  &:focus,
  &:hover {
    color: var(--red-color);
  }
}

.social {
  margin-left: 35px;
  margin-top: 72px;
}
.social__name {
  color: var(--white-color);
  font-size: 16px;
  margin-bottom: 20px;
}
.social__icon {
  min-width: 206px;

  .linkedin {
    --color3: var(--white-color);
    --color2: var(--color-foticon);
    &:hover {
      --color3: var(--white-color);
      --color2: var(--blue-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .facebook {
    --color3: var(--white-color);
    --color2: var(--color-foticon);
    &:hover {
      --color3: var(--white-color);
      --color2: var(--blue-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .twitter {
    --color3: var(--white-color);
    --color2: var(--color-foticon);
    &:hover {
      --color3: var(--white-color);
      --color2: var(--blue-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .instagram {
    --color3: var(--white-color);
    --color2: var(--color-foticon);

    &:hover {
      --color3: var(--white-color);
      --color2: var(--blue-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.form {
  color: var(--color-footer-email-input);

  &__footer {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 700;
  }
}

.input {
  margin-top: 20px;
  grid-template-columns:
    "email"
    "but";

  &__email {
    max-width: 450px;
    height: 50px;
    background-color: var(--color-input-footer);
    border: 1px solid rgba(255, 255, 255, 0.3);
    grid-area: email;
    &__email:active {
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  &__button {
    color: var(--color-footer-email-input);
    background-color: var(--color-bottom-footer);
    border: none;
    border-radius: 4px;
    max-width: 200px;
    height: 50px;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 10px;
    grid-area: but;
  }
  &__span {
    margin-left: -45px;
  }
  &__send {
    position: absolute;
    margin-left: 24px;
    transform: translateY(-10%);
  }
}

/*@media screen and (min-width: 480px) and (max-width: 767px) {
  footer {
    height: 600px;
    max-width: 767px;
    justify-content: center;
    align-items: center;
  }
}
*/
@media screen and (min-width: 768px) {
  footer {
    max-height: 463px;
    min-width: 768px;
  }
  .footercentr {
    align-items: center;
    justify-content: center;
    min-width: 768x;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      " add soc"
      " for for ";
  }

  address {
    grid-area: add;
  }
  .social {
    grid-area: soc;
  }
  .form {
    grid-area: for;
  }
}
/*@media screen and (min-width: 768px) and (max-width: 1199px) {
  footer {
    height: 463px;
    max-width: 1199px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      " add soc"
      " for for ";
  }

  address {
    grid-area: add;
  }
  .social {
    grid-area: soc;
  }
  .form {
    grid-area: for;
  }
  .form__zapisz {
    max-width: 400px;
  }
  .input {
    &__button {
      max-width: 450px;
    }
    &__email {
      max-width: 200px;
    }
  }
}*/
/*@media screen and (min-width: 1200px) {
  footer {
    height: 252px;
    min-width: 1200px;
  }
  .footercen {
    display: flex;
  }
  .footer__name {
    margin-bottom: 9px;
    padding-top: 60px;
  }

  .address__space {
    margin-top: 9px;
  }
  .address__mail {
    margin-top: 9px;
  }

  .address__tel {
    margin-top: 9px;
  }

  .social {
    margin-left: 35px;
    margin-top: 72px;
  }
  .social__name {
    margin-bottom: 20px;
  }
  .social__icon {
    min-width: 206px;
  }
}

.from__footer {
  margin-top: 92px;
  margin-left: 30px;
}

.form {
  margin-top: 40px;
}
.input {
  margin-top: 20px;
  &__email {
    min-width: 328px;
    height: 50px;
  }
  &__button {
    width: 180px;
    height: 50px;
    margin-left: 10px;
  }
  &__span {
    margin-left: -45px;
  }
  &__send {
    position: absolute;
    margin-left: 24px;
    transform: translateY(-10%);
  }
}
*/
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  footer {
    height: 252px;
    min-width: 1440px;
  }
  .footercentr {
    margin: none;
    min-width: 1440px;
    display: flex;
    justify-content: center;
  }
  .footer__name {
    margin-bottom: 9px;
    padding-top: 60px;
  }

  .address__space {
    margin-top: 9px;
  }
  .address__mail {
    margin-top: 9px;
  }

  .address__tel {
    margin-top: 9px;
  }

  .social {
    margin-left: 35px;
    margin-top: 72px;
  }
  .social__name {
    margin-bottom: 20px;
  }
  .social__icon {
    min-width: 206px;
  }
}

.from__footer {
  margin-top: 92px;
  margin-left: 30px;
}
/*.form__label {
  transform: translateX(-33%);
}*/
.input {
  margin-top: 20px;

  &__email {
    min-width: 358px;
    height: 50px;
  }
  &__button {
    width: 200px;
    height: 50px;
    margin-left: 10px;
  }
  &__span {
    margin-left: -45px;
  }
  &__send {
    position: absolute;
    margin-left: 24px;
    transform: translateY(-10%);
  }
}
/*footer {
    height: 252px;
    min-width: 1440px;
    justify-content: center;
    display: flex;
  }

  .footer__name {
    margin-bottom: 9px;
    padding-top: 60px;
  }

  .address__space {
    margin-top: 9px;
  }
  .address__mail {
    margin-top: 9px;
  }

  .address__tel {
    margin-top: 9px;
  }

  .social {
    margin-left: 35px;
    margin-top: 72px;
  }
  .social__name {
    margin-bottom: 20px;
  }
  .social__icon {
    min-width: 206px;
  }
}

.from__footer {
  margin-top: 92px;
  margin-left: 30px;
}
.form__label {
  transform: translateX(-33%);
}
.input {
  margin-top: 20px;

  &__email {
    min-width: 328px;
    height: 50px;
  }
  &__button {
    width: 180px;
    height: 50px;
    margin-left: 10px;
  }
  &__span {
    margin-left: -45px;
  }
  &__send {
    position: absolute;
    margin-left: 24px;
    transform: translateY(-10%);
  }*/
