.modal {
  top: 1%;
  left: 5%;
  max-width: 400px;
  height: 550px;
  background-color: var(--white-color);
  position: fixed;
  z-index: 1;
  transition: visibility, opacity, transform;
  transition-duration: 2s;
  opacity: 1;
  visibility: visible;
  display: block;

  &__form {
    max-width: 400px;
  }
  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--color-body);
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  &__text {
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
    max-width: 370px;
    margin-left: 30px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.is__hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputs {
  margin: 0 40px 28px 40px;

  &__label {
    font-weight: 400;
    font-size: 12px;
    color: var(--body-color);
  }

  &__name {
    min-width: 340px;
    height: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    padding-left: 30px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      border-color: var(--blue-color);
    }
  }

  &__tel {
    min-width: 340px;
    height: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    padding-left: 30px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      border-color: var(--blue-color);
    }
  }

  &__email {
    min-width: 340px;
    height: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    padding-left: 30px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      border-color: var(--blue-color);
    }
  }

  &__komentarz {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    min-width: 340px;
    &:focus {
      border-color: var(--blue-color);
      outline: none;
    }
  }

  &__namesvg {
    position: absolute;
    top: 24.75%;
    left: 50px;
    --color1: #212121;
    &:focus {
      fill: var(--blue-color);
      --color1: var(--blue-color);
    }
  }
  &__telsvg {
    position: absolute;
    top: 36%;
    left: 50px;
    fill: #212121;
    &:focus {
      fill: var(--blue-color);
      --color1: var(--blue-color);
    }
  }
  &__emailsvg {
    position: absolute;
    top: 47.5%;
    left: 50px;
    fill: #212121;

    &:focus {
      fill: var(--blue-color);
      --color1: var(--blue-color);
    }
  }
  &__komentarz:focus {
    border-color: var(--blue-color);
    outline: none;
  }
}
textarea {
  resize: none;
}
.inputs__name:focus + .inputs__namesvg,
.inputs__tel:focus + .inputs__telsvg,
.inputs__email:focus + .inputs__emailsvg {
  --color1: var(--blue-color);
  fill: var(--blue-color);
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: 20px;

  &__input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    height: 16px;
    width: 15px;
    margin-top: 1px;
    margin-left: -10px;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(-65%) translateY(5%);
  }
  &__span {
    font-weight: 400;
    font-size: 12px;
    margin-left: 9px;
  }
  &__span-color {
    color: var(--color-bottom-footer);
  }
}
.checkbox__input:checked ~ .checkbox__icon {
  --color1: var(--color-bottom-footer);
  visibility: visible;
}

.submit {
  margin-bottom: 10px;

  &__button {
    width: 200px;
    height: 50px;
    background-color: var(--color-bottom-footer);
    border-radius: 4px;
    border: none;
    color: var(--color-footer-email-input);
    transform: translateX(35%);
  }
} /*
@media screen and (max-width: 479px) {
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    left: 10%;
  }
}*/
@media screen and (min-width: 768px) {
  .modal {
    left: 20%;
  }
} /*
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    left: 30%;
  }
}*/ /*
@media screen and (min-width: 1200px) {
  .modal {
    left: 35%;
  }
  .submit__button {
    transform: translateX(50%);
  }
}*/

@media screen and (min-width: 1200px) and (min-width: 1440px) {
  .modal {
    top: 10%;
    left: 34%;
    min-width: 500px;
    &__form {
      max-width: 500px;
    }
    &__text {
      max-width: 420px;
    }
  }
  .inputs {
    &__name {
      min-width: 420px;
    }

    &__tel {
      min-width: 420px;
    }

    &__email {
      min-width: 420px;
    }

    &__komentarz {
      min-width: 420px;
    }
    &__namesvg {
      top: 20.75%;
    }
    &__telsvg {
      top: 32%;
    }
    &__emailsvg {
      top: 43.5%;
    }
  }
  .submit {
    margin-left: 80px;
  }
}
