:root {
  --button-background: #2f303a;
  --body-color: rgba(117, 117, 117, 1);
  --blue-color: #2196f3;
  --blacklight-color: #212121;
  --black-color: rgba(0, 0, 0, 1);
  --grey-color: #757575;
  --white-color: #ffffff;
  --whitelight-color: #f5f4fa;
  --red-color: red;
  --whitestudio-color: rgba(255, 255, 255, 1);
  --footercolor: #2f303a;
  --color-body: #e5e5e5;
  --color-icon: #afb1b8;
  --color-foticon: rgba(255, 255, 255, 0.1);
  --color-overlay: rgba(33, 150, 243, 0.9);
  --color-footer-email-input: rgba(255, 255, 255, 1);
  --color-bottom-footer: rgba(33, 150, 243, 1);
  --color-input-footer: rgba(47, 48, 58, 1);
}
